/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

nav h1 {
  font-family: 'Roboto', sans-serif;
}

nav ul li a {
  transition: color 0.3s, border-bottom 0.3s;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
